{% extends "../store/base.html"%}{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h1 class="dashboard">User Dashboard</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            
                <button class="d" type="submit"
                                    value="Log-out">Sign
                                    out</button>
        </div>
    </section>
</div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

{% endblock %}
