{% extends "../store/base.html" %}{% load static %}
{% block title %}Edit your account{% endblock %}
{% block content %}


{% comment %} <style>
    .update-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .update-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style> {% endcomment %}

<div class="container-fluid my-5">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">

                <form class="form-reset p-4 rounded update-form" method="post" enctype="multipart/form-data">

                    {% if user_form.is_valid %}
                    <div class="alert alert-primary" role="alert">
                        Detaliile au fost modificate cu succes.
                    </div>
                    <p class="small text-center pt-0">
                        <a href="{% url "accounts:profile" %}">Inapoi la pagina principala</a>
                    </p>
                    {%else%}
                    <p class=" h4 mb-4 font-weight-bold">Modifica detaliile</p>
                    <p>Va puteti modifica detaliile contului folosind form-urile urmatoare:</p>
                    {% endif %}

                    {% if user_form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Eroare: Incercati din nou!
                    </div>
                    {% endif %}

                    {% csrf_token %}
                    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
                    {{ user_form.first_name }}
                    <label class="small font-weight-bold">{{ user_form.last_name.label}}</label>
                    {{ user_form.last_name }}
                    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
                    {{ user_form.email }}
                    <button class="d" type="submit"
                        value="Save changes">Salvati modificarile</button>
                    <hr class="mb-3">
                    <p class=" h5 mb-2 pt-4 font-weight-bold">Stergeti contul</p>
                    <p class="small">Daca va doriti sa stergeti contul, apasati butonul urmator:</p>
                    <a href="{% url "accounts:deleteuser" %}"
                        class="btn btn-danger btn-block py-2 mb-4 mt-5 font-weight-bold" role="button"
                        aria-pressed="true">Sterge contul</a>
                </form>

            </div>
        </div>
    </section>
</div>
{% endblock %}