* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 25px;
}
h6 {
  margin-left: 45%;
  margin-top: 50px;
  font-size: 25px;
  
}

img {
  display: block;
  width: 100%;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}
.Logo {
  position: absolute;
  top: 0;
  left: 46%;
  width: 150px;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}

nav {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding-left: 5px;
}

li a {
  padding: 7px;
  background-color: #fff;
  text-decoration: none;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  background-color: black;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}

.container,
.container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.container2,
.container3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 0;
  padding-bottom: 100px;
}

.image {
  width: 200px;
  margin-right: 20px;
  margin-top: 50px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  border: 0.2px solid black;
  box-shadow:5px 10px 8px #888888;
  transition: 500ms all;
}
.image img {
  width: 150px;
  height: 150px;
  
}
.image:hover{
  transform: scale(1.2);

}

.add-cart {
  position: absolute;
  width: 100%;
  background-color: darkgrey;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
  transform: scale(1.2);
}
.viziteazafrizer,
.viziteazapachet {
  position: absolute;
  width: 75%;
  background-color: darkgrey;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}
.claudiu:hover .frizer1{
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  width: 200px;
  text-decoration: none;
  transform: scale(1.2);
}
.claudiu:hover{
  transform: scale(1.2);
}

.image:hover .frizer1,
.image:hover .frizer2,
.image:hover .frizer3,
.image:hover .frizer4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
  transform: scale(1.2);
}
.image:hover .pachet1,
.image:hover .pachet2,
.image:hover .pachet3,
.image:hover .pachet4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
  transform: scale(1.2);
}

/* Dropdown Button */
.dropbutton {
  background-color: #4caf50;
  color: black;
  font-size: 16px;
  border: none;
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
  transition: 500ms all;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position:relative;
  display: inline-block;
  transition: 500ms all;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* ----------------- CART PAGE --------------- */

.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.container-products ion-icon {
  font-size: 25px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product ion-icon {
  cursor: pointer;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

@media (max-width: 500px) {
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .sm-hide {
    display: none;
  }

  .products,
  .product-header {
    justify-content: center;
  }

  .basketTotalContainer {
    padding-right: 8%;
  }
}
.delivery-details {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}
.comanda{
    background-color: black;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 40%;
    transition: 250ms all;
}
.comanda:hover{
  transform: scale(1.2);
}
.comanda1{
    background-color: rgb(95, 92, 92);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 40%;
    transition: 250ms all;
}

.adresalivrare{
    display: table;
    margin-left: 40%;
}
.select{
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.title{
  text-decoration: none;
  color: black;
}
.avisited{
  text-decoration: none;
  color:black;
}
.programaretuns{
  margin-top: 100px;
    display: table;
    margin-left: 40%;
}
.programeaza{
    background-color: black;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 40%;
}
.titluabout{
  display: flex;
  margin-left: 100px;
  margin-top: 25px;

}
.descriereabout{
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
  margin-top: 25px;
}
.contactabout{
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
  margin-top: 25px;
}
.claudiu{
  width: 200px;
  margin-right: 20px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  overflow: hidden;
  border: 0.2px solid black;
  box-shadow:5px 10px 8px #888888;
  transition: 500ms all;
}
.owner{
  display: flex;
  margin-left: 100px;
  margin-top: 25px;
  
}
.frizerabout{
  display: flex;
  margin-left: 100px;
}
.claudiu1{
  width: 300px;
  margin-top: 20px;
  max-height: 307px;
  border: 0.2px solid black;
  box-shadow:5px 10px 8px #888888;
}

.descrierefrizer{
  margin-left: 25px;
  margin-right: 50px;
  padding: 25px;
}
.experienta{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin-left: 40%;
  margin-right: 60%;
  border-collapse: collapse;
}
.experienta td {
  padding: 5px;
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 50px;
  text-align: center;
}
.descriere{
  display: flex;
  max-width: 500px;
  word-wrap: break-word;
}

footer{
  background-color: darkgray;
  text-decoration: none;
  bottom: 0;
  width: 100%;

}
.mail{
  text-decoration: none;
  color: black;

}
.footer{
  margin-left: 50px;
}
.contact{
  margin-left: 25px;
}
.link{
  text-decoration: none;
  color: black;
}
.pachete{
  width: 180px;
  margin-right: 20px;
  margin-top: 50px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  border: 0.2px solid black;
  box-shadow:5px 10px 8px #888888;
}
.in_stock{
  color: black;
  text-shadow: 2px 2px 5px green;
}
.not_stock{
  color: black;
  text-shadow: 2px 2px 5px red;
}
.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 25px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 25px;
  border: 1px solid black;
  background: black;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  margin-top: 7%;
  margin-left: 50%;
  width: 100%;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-inner{
  color: white;
  background-color: white;
}
.userphoto{

width: 25px;
height: 25px;


}

.buttonorder{
  display: flex;
  justify-content: center;
}

.d{
    background-color: black;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    transition: 250ms all;
    align-items: center;
}
.dashboard{
  margin-left: 0%;
}
.container-fluid1{
  margin-left: 35%;
}

.z{
  background-color: black;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    transition: 250ms all;
    align-items: center;
    margin-left: 40%;
}
