{% extends "./base.html" %} {% load static %} {% block content %}
<h1>Calendar locuri disponibile</h1>
<div class="container">
  {%for produs in vizitate %}
  <div class="image">
            <a href="{%url 'store:produs_detail' produs.slug%}"><img src="{{produs.image.url }}" alt=""/></a>
            <h3>{{produs.title}}</h3>
            <h3>{{produs.price}} lei</h3>
            {% if request.user.is_authenticated %}
            {% if produs.in_stock %}
            <a>Accepta</a>
            <a>Nu accepta</a>
            {% endif %}
            {% endif %}
            <input type="hidden" value="20" />
        </div>
  {% endfor %}
</div>

{% endblock %}