{% extends "./base.html" %} {% load static %} {% block content %}
    <!-- <div class="container-products">
        <div class="product-header">
            <h5 class="product-title">PRODUCT</h5>
            <h5 class="price sm-hide">PRICE</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
        </div>
        {%for produs in produse_cart%}
        <div class="products">
            
            <img src="{{produs.cart.image.url }}" alt=""/>
            <p>{{produs.cart.title}}</p>

            {{produs.cart.price}}
            {{produs.quantity}}

            <button class="deleteproducts">x</button> 



            
        </div>
        
        {% endfor %}
        <h1>{{total}} </h1>
    </div> -->
{% if request.user.is_authenticated %}
    <div class="cart-pret">
        <div class="header">
            <div class="produs">Produse</div>
            <div class="price">Pret</div>
            <div class="quantity">Cantitate</div>
            <div class="delete">Stergere</div>
        </div>

        {% for produs in produse_cart %}
        <div class="products" id=produscos{{produs.id}}>
            <div class="produs">
                <img src="{{produs.cart.image.url}}" alt="">
                <p>{{produs.cart.title}}</p>
            </div>
            <div class="price">
                <p>{{produs.cart.price}}</p>
            </div>
            <div class="quantity">
                <p>{{produs.quantity}}</p>
            </div>
            <div class="delete">
                <button onclick="deletecart({{produs.id}})">
                    <span class="material-icons">close</span>
                </button>
            </div>
        </div>
        {% endfor %}
        <h3>Total {{total}} Ron</h3>
    </div>


        <div class="submit">
            <button type="submit" name="post" class="comanda">Comanda</button>
        </div>
    </form>
    
    
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>

<script> 
    function deletecart(id) {
        console.log(id);
        const produs = document.querySelector('#produscos'+id)
        $.ajax({
            type: 'POST',
            url: '{% url "store:delete_cart" %}',
            data: {
                produsid: id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'delete',
            },
            success: function(json) {
                if(json['delete'] === 'delete') {
                    console.log('HAIDEEEE pe delete');
                    produs.style.display = 'none';

                }
            },
            error: function (xhr, errmsg, err) {

            }
        });
    }
</script>

{%else%}
<h1 class="error"> Trebuie sa fiti autentificat pentru a vedea cosul. </h1>

{%endif%}

{% endblock %}