{% extends "./base.html" %} {% load static %} {% block content %}
    <div class="container-products">
        <div class="product-header">
            <h5 class="product-title">PRODUCT</h5>
            <h5 class="price sm-hide">PRICE</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
        </div>
        {%for produs in produse_cart%}
        <div class="products">
            
            <img src="{{produs.cart.image.url }}" alt=""/>
            <p>{{produs.cart.title}}</p>

            {{produs.cart.price}}
            {{produs.quantity}}

            <button class="deleteproducts">x</button> 



            
        </div>
        {% endfor %}
        <h1>{{total}} </h1>
    </div>
    

        <div class="submit">
            <button type="submit" name="post" class="comanda">Comanda</button>
        </div>
    </form>
    
    
    <script src="produs.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>

{% endblock %}